:root {
    --main-color: #F4D04E;
    --paragraph-color: #7F7F7F;
    --main-gap: 24px;
    --through-margin: 12px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--main-color);
    font-family: "Figtree", sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-container {
    background-color: white;
    border-radius: 20px;
    padding: var(--main-gap);
    width: 384px;
    box-shadow: 10px 10px, 0 0 0 1px;
}

@media (max-width:767px) {
    .card-container {
        width: 327px;
    }
}

.card-container img {
    border-radius: 10px;
    width: 100%;
}

.card-container .text {
    margin: var(--main-gap) 0;
    display: flex;
    flex-direction: column;
}

.card-container .text p:first-of-type {
    background-color: var(--main-color);
    border-radius: 4px;
    width: fit-content;
    padding: 4px 12px;
    font-weight: 800;
    font-size: 14px;
    margin-bottom: var(--through-margin);
}

.card-container .text p {
    font-weight: 500;
}

.card-container .text h1 {
    font-size: clamp(20px, 3vw, 24px);
    font-weight: 800;
    margin: var(--through-margin) 0;
}

.card-container .text h1:hover {
    color: var(--main-color);
    cursor: pointer;
}

.card-container .text p:last-of-type {
    color: var(--paragraph-color);
    line-height: 1.5;
    font-size: clamp(14px, 2vw, 16px);
}

.card-container .author {
    display: flex;
    align-items: center;
}

.card-container .author img {
    width: 32px;
    margin-right: var(--through-margin)
}

.card-container .author p {
    font-weight: 800;
    font-size: 14px;
}